body {
	background: rgb(37,87,127); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjU1NzdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiNmZhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(37,87,127,1) 0%, rgba(43,111,168,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(37,87,127,1)), color-stop(100%,rgba(43,111,168,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(37,87,127,1) 0%,rgba(43,111,168,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(37,87,127,1) 0%,rgba(43,111,168,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(37,87,127,1) 0%,rgba(43,111,168,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(37,87,127,1) 0%,rgba(43,111,168,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25577f', endColorstr='#2b6fa8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	counter-reset: year 2000;
}

section {
	margin: 0 auto;
	width: 960px;
	padding: 0 10px;
}
div {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
}
h1 {
	font-weight: bold;
	font-size: 3em;
}
h1::first-letter {
	text-transform: capitalize;
}
p {
	font-size: 20px;
	line-height: 25px;
}
ul {
	margin: 3em 0 0 0;
	padding: 0;
}
ul li {
	display: inline;
	width: 15px;
	height: 15px;
	border-radius: 20px;
	float:left;
	border: 1px solid rgba(255,255,255,0.4);
	margin-right: 20px;
	cursor: pointer;
}
ul li:last-child {
	margin-right: 0px;
}
ul li.selected {
	background: rgba(255,255,255,0.9);
}
ul li.selected:after {
	padding: 5px;
	content: counter(year);
	background: white;
	color: rgb(24,81,128);
	top: 15px;
	position: relative;
	left: -24px;
	width: 50px;
	float: left;
	text-align: center;
	font-size: large;
	font-weight: bold;
}
ul li.selected:before {
	height: 5px;
	width: 5px;
	content: '';
	float: left;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	transform:         rotate(45deg);
	background: white;
	opacity: 1;
	top: 23px;
	left: 0px;
}
ul li:before {
	opacity: 0;
	position: relative;
	color: rgba(255,255,255,0.5);
	left: -15px;
	font-weight: 100;
	padding: 5px;
	top: -25px;
	counter-increment: year; 
	content: counter(year);
}

ul li:hover {
	border: 1px solid rgba(255,255,255,1);
	
	-webkit-transition: border-color 500ms ease-in-out 50ms;
	-moz-transition: border-color 500ms ease-in-out 50ms;
	-o-transition: border-color 500ms ease-in-out 50ms;
	transition: border-color 500ms ease-in-out 50ms;  
}
ul li:hover::before {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-in-out 50ms;
	-moz-transition: opacity 500ms ease-in-out 50ms;
	-o-transition: opacity 500ms ease-in-out 50ms;
	transition: opacity 500ms ease-in-out 50ms;
}